{{#if params_valid}}

<div class="row">
  <div class="col-sm-3 hidden-xs"> </div>
  <div class="col-sm-6">
    <div class="panel panel-primary panel-results">
      <div class="panel-heading">
        <h3 class="panel-title">Please confirm the following information before we begin sending the postcards</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <td>Name</td>
            <td>{{visitor_info.first_name}} {{visitor_info.last_name}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{visitor_info.address_1}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{visitor_info.email}}</td>
          </tr>
          <tr>
            <td>City</td>
            <td>{{visitor_info.city}}</td>
          </tr>
          <tr>
            <td>State</td>
            <td>{{visitor_info.state}}</td>
          </tr>
          <tr>
            <td>Zip</td>
            <td>{{visitor_info.zip}}</td>
          </tr>
          <tr>
            <td>Number of Cards</td>
            <td>{{visitor_info.number_of_cards}}</td>
          </tr>
        </table>
          <h3>FINAL PRICE: ${{visitor_info.price}}.00</h3>
        <button class="btn btn-primary pull-right" id="submitButton">Confirm and Order</button>
        <button type="reset" class="btn btn-default pull-right" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3 hidden-xs"> </div>
</div>

<script>
  var user_email='';
  var user_payment=0;

  var call_2_Stripe = StripeCheckout.configure({
    key: '{{stripe_key}}',
    locale: 'auto',
    token: function(token) {
      console.log(token);
      $.ajax({
        url: '/finalize_payment',
        type: 'post',
        dataType: 'json',
        contentType: 'application/json;charset=utf-8',
        data: JSON.stringify({tokenid: token.id, email: token.email, payment_amount: user_payment}),
        success: function(data) {
          console.log(data.status);
          if(data.status=='success'){
            window.location.href = "/result?delivery_status=success&delivery_date="+data.deliver;
          }
          else{
            window.location.href = "/result?delivery_status=failed";
          }
        },
        error: function(data) {
          //console.log("Connection Error");
          window.location.href = "/result?delivery_status=failed";
        }
      });
    }
  });
  $('#cancelButton').on('click', function(e) {
    window.location.href = "/";
  });

  $('#submitButton').on('click', function(e) {

    user_email = "{{visitor_info.email}}";
    user_payment=parseFloat({{visitor_info.price}})*100; //stripe prices are in cents

    call_2_Stripe.open({
      name: 'Postcards',
      description: 'Thank you!',
      email: user_email,
      allowRememberMe: false,
      amount: user_payment
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>
{{else}}
<div class="jumbotron"> <h4>;(</h4> We are sorry. One or more values was not entered correctly.
  Please return to the previous step and try again.
  <p>If you believe this is a bug and all the info you entered is correct, please
    contact us at <a href="mailto:info@infinite.industries">info@infinite.industries</a>
</div>
{{/if}}
